<% content_for :title, "New post" %>
<%= link_to "← Back to posts", posts_path, class: "back" %>
<div class="page-head"><h1>New post</h1></div>
<%= render "form", url: posts_path, method: :post, submit_label: "Create post", cancel_path: posts_path %>
